<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>gdeployer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
    </head>

    <body>
        <div class="container">
            <h1>gdeployer</h1>

            <table class="table table-inverse my-5">
                <tbody>
                    <tr>
                        <td>Project</td>
                        <td colspan="3">{{ repoName }}</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td colspan="3">{{ version }}</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td colspan="3">{{ datetime }}</td>
                    </tr>
                    <tr>
                        <td>Summary</td>
                        <td class="bg-danger">{{ summary.error }}</td>
                        <td class="bg-warning">{{ summary.warning }}</td>
                        <td class="bg-success">{{ summary.success }}</td>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% for oneMessage in messages %}
                <div class="text-white px-2 py-1 my-2
                    {% if oneMessage.type == 'ERROR' %} bg-danger {% endif %}
                    {% if oneMessage.type == 'SUCCESS' %} bg-success {% endif %}
                    {% if oneMessage.type == 'INFO' %} bg-info {% endif %}
                    {% if oneMessage.type == 'WARNING' %} bg-warning {% endif %}
                    {% if oneMessage.type == 'LOADING' %} bg-inverse {% endif %}
                    ">
                    {{ oneMessage.type }}:
                    {% if oneMessage.multipleLines == true %}
                        {% for oneLine in oneMessage.text %}
                            <p class="my-0">
                                {{ oneLine }}
                            </p>
                        {% endfor %}
                    {% else %}
                        {{ oneMessage.text[0] }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>